{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profile{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-auto">
                    <span class="avatar avatar-xl">{{ user.fullName|initials[:2] }}</span>
                </div>
                <div class="col">
                    <h2 class="page-title">{{ user.fullName }}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">

    </div>
{% endblock %}
